@using OfficialTeamUpClient.User;

@page "/"

@inject UserService User

<PageTitle>Index</PageTitle>


<div class="container-fluid">
    <div class="row">
        <p>Welcome back, @User.User.DisplayName!</p>
    </div>
    <div class="row dashboard-item">
        <div class="col-md-12">
            <h3>Content display here</h3>
            <div class="blank-content-display"></div>
        </div>
    </div>

    <div class="row dashboard-item">
        <div class="col-md-12">
            <h3>Content display here</h3>
            <div class="blank-content-display"></div>
        </div>
    </div>

    <div class="row dashboard-item">
        <div class="col-md-12">
            <h3>Content display here</h3>
            <div class="blank-content-display"></div>
        </div>
    </div>

    <div class="row dashboard-item">
        <div class="col-md-12">
            <h3>Content display here</h3>
            <div class="blank-content-display"></div>
        </div>
    </div>
</div>
