@using OfficialTeamUpClient.Models;
@using OfficialTeamUpClient.User;
@using OfficialTeamUpClient.Services;

@inject UserService User

@page "/Settings";

<h3>Settings Page</h3>

<div class="setting-categories">
    //Make a call to the Settings Service that will load all current categories for the user. (Admins should have extra admin control categories)
</div>

@code {



}