@using OfficialTeamUpClient.User;


@inject UserService UserService

<script>
    hamburger = document.querySelector(".hamburger");
    hamburger.onclick = function () {
        navBar = document.querySelector(".nav-bar");
        navBar.classList.toggle("active");
    }

    let sidebar = document.querySelector(".sidebar");
    let closeBtn = document.querySelector("#btn");
    let searchBtn = document.querySelector(".bx-search");

    closeBtn.addEventListener("click", () => {
        sidebar.classList.toggle("open");
        menuBtnChange();
    });

    searchBtn.addEventListener("click", () => {
        sidebar.classList.toggle("open");
        menuBtnChange();
    });
</script>

<head>
    <!-- Boxicons CDN Link -->
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<div class="header">
    <div class="header-content">

    </div>
    <div class="header-profile-content">
        <div class="header-settings-content">
            <NavLink class="nav-link" href="/Settings" Match="NavLinkMatch.All">
                <i class="bi bi-gear-fill"></i>
            </NavLink>
        </div>
        <div class="header-profile-info">
            <div class="user-info">
                <span class="profile-name">TeamUp Official</span>
                <span class="profile-level-gauge">Level 1</span>
            </div>
        </div>
        <div class="header-profile-img-content">
            <div class="header-profile-image" style="background-image: url(data:image/png;base64,@Convert.ToBase64String(UserService.User.ProfileImage))"></div>
        </div>
    </div>
</div>

<div class="sidebar @NavMenuCssClass">
    <div class="logo-details">
        <div class='logo-container' id="logo-container"></div>
        @* <div class="logo_name">Team Up</div> *@
        <i class='bx bx-menu' id="btn" @onclick="OpenSideBar"></i>
    </div>
    <ul class="nav-list">
        <li>
            <i class='bx bx-search'></i>
            <input type="text" placeholder="Search...">
            <span class="tooltip">Search</span>
        </li>
        <li>
            <a href="#">
                <i class='bx bx-grid-alt'></i>
                <span class="links_name">Dashboard</span>
            </a>
            <span class="tooltip">Dashboard</span>
        </li>
        <li>
            <a href="#">
                <i class='bx bx-user'></i>
                <span class="links_name">User</span>
            </a>
            <span class="tooltip">User</span>
        </li>
        <li>
            <a href="#">
                <i class='bx bx-chat'></i>
                <span class="links_name">Messages</span>
            </a>
            <span class="tooltip">Messages</span>
        </li>
        <li class="profile">
            <div class="profile-details">
                <div class="name_job">
                    <div class="name">TeamUp Official</div>
                    <div class="job">CEO</div>
                </div>
            </div>
            <i class='bx bx-log-out' id="log_out"></i>
        </li>
    </ul>
</div>


@code {
    private bool collapseNavMenu = false;

    private string? NavMenuCssClass => collapseNavMenu ? "open" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }

    private void OpenSideBar()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
